<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'gestionVehiculos/css/styles.css' %}">
    <title>Historial de Registros - {{ vehiculo.matricula }}</title>
</head>
<body>
    <div class="container">
        <h1>Historial de Registros de {{ vehiculo.matricula }}</h1>
        <table>
            <thead>
                <tr>
                    <th>Hora de Entrada</th>
                    <th>Hora de Salida</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td>{{ registro.fecha_hora_entrada }}</td>
                    <td>{{ registro.fecha_hora_salida|default:"No ha salido" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'listar_registros' %}">Volver a la lista de registros</a>
    </div>
</body>
</html>
